<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span class="title-icon">The Factory</span>
    <button mat-button [matMenuTriggerFor]="setup">
      <span>Setup</span>
    </button>
    <span class="title-spacer"></span>
    <mat-menu #setup="matMenu">
      <button mat-menu-item>
        <span>Parameters</span>
      </button>
    </mat-menu>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>dialpad</mat-icon>
        <span>Redial</span>
      </button>
      <button mat-menu-item disabled>
        <mat-icon>voicemail</mat-icon>
        <span>Check voicemail</span>
      </button>
      <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon>
        <span>Disable alerts</span>
      </button>
    </mat-menu>
    <mat-icon class="title-icon">verified_user</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>